name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.0'
          coverage: xdebug  # Ajout de xdebug pour la couverture de code

      - name: Install dependencies
        run: composer install

      - name: Run PHPUnit with coverage
        run: ./vendor/bin/phpunit --coverage-html build/coverage-html
        env:
          XDEBUG_MODE: coverage  # Activation de la couverture de code pour PHPUnit

      - name: Upload coverage report
        uses: actions/upload-artifact@v2
        with:
          name: coverage-html
          path: build/coverage-html
